body {
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    background-image: linear-gradient(#FFFFFF, #A0A0CA);
    margin: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bodyVar {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    animation: logoanim 6s ease infinite;
}

.logoVis {
    width: 100vw;
}

.darkBG {
    width: 150%;
    height: 150%;
    position: absolute;
    background-image: linear-gradient(#040122, #500000);
    transform: translate(-100%,-150%);
    z-index: 0;
    opacity: 0;
}

.startButton {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 70%;
    font-size: 4vw;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 0.5vw white;
    box-shadow: 1vw 2vw 1.5vw black;
    border: 0.5vw solid black;
    background-color: rgb(180,90,255);
    padding: 1%;
    z-index: 1;
}

.startButton:hover {
    cursor: pointer;
    font-size: 5.5vw;
    padding: 1%;
    border: 0.5vw solid black;
    background-color: rgb(180,90,255);
    color: white;
}

.charChooseText {
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
    opacity: 0;
    font-size: 4vw;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 1vw white;
    padding: 5%;
    height: 100%;
    z-index: 1;
}

.jonoCard {
    position: absolute;
    left: 20%;
    top: 55%;
    z-index: 1;
}


.jonoCardVis {
    width: 22vw;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.jonoCardVis:hover {
    width: 23vw;
    cursor: pointer;
}

.gabeCard {
    position: absolute;
    left: 30%;
    top: 55%;
    z-index: 1;
}


.gabeCardVis {
    width: 22vw;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.gabeCardVis:hover {
    width: 23vw;
    cursor: pointer;
}

.characterConfirm {
    width: auto;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 50%;
    opacity: 1;
    font-size: 6vw;
    color: white;
    -webkit-text-stroke: 0.15vw red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    height: auto;
    z-index: 3;
}

.characterConfirm:hover {
    -webkit-text-stroke: 0.15vw lime;
    text-shadow: 0px 0px 3vw lime;
    cursor: pointer;
}

.jono {
    width: 3vw;
    height: 3vw;
    background-color: rgba(0, 255, 100, 1);
    border: 0.25vw solid black;
    border-radius: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    z-index: 5;
}

.jonoVis {
    width: 3.5vw;
    z-index: 5;
    transform: translate(-7%, -7%);
    opacity: 1;
}

.bullet1 {
    width: 0.5vw;
    height: 4vw;
    background-color: rgb(255, 255, 255);
    border: 0.3vw solid rgb(0,255,100);
    position: absolute;
    transform:translate(-50%,-50%);
    z-index: 3;
}



.enemy1 {
    width: 3.5vw;
    height: 3.5vw;
    background-color: rgba(255, 100, 100, 1);
    border-radius: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    z-index: 3;
}

.enemy1HPNum {
    font-size: 2vw;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.1vw black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(0%, 10%);
}

@keyframes charChooseTextAnim {
    0% {
        opacity: 0;
        top: 55%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cbooseDisappear {
    0% {
        opacity: 1;
        top: 80%;
    }
    100% {
        opacity: 0;
        top: 85%;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes jonoCardAppear {
    0% {
        opacity: 0;
        left: 25%;
    }
    100% {
        opacity: 1;
        left: 35%;
    }
}

@keyframes gabeCardAppear {
    0% {
        opacity: 0;
        left: 55%;
    }
    100% {
        opacity: 1;
        left: 65%;
    }
}

@keyframes jonoCardChoose {
    0% {
        left: 35%;
        top: 55%;
    }
    100% {
        left: 25%;
        top: 52.5%;
    }
}

@keyframes logoanim {
    0% {
        top: 32.5%;
    }
    50% {
        top: 37.5%;
    }
    100% {
        top: 32.5%;
    }
}